<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZYs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,215}}</string>
                <key>sourceSize</key>
                <string>{136,215}</string>
            </dict>
            <key>ZYsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,215}}</string>
                <key>sourceSize</key>
                <string>{136,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Guide.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec373f0c2b0734eaa48874c6dabd32dd$</string>
            <key>textureFileName</key>
            <string>Guide.png</string>
        </dict>
    </dict>
</plist>
