<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RoleJump13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>RoleJump13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>RoleJump13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoleJump13.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2b6cdd7493844eda6346752e5694a1e$</string>
            <key>textureFileName</key>
            <string>RoleJump13.png</string>
        </dict>
    </dict>
</plist>
