<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>role11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>role11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>role11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,169},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>role11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
            <key>role11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,336},{118,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,165}}</string>
                <key>sourceSize</key>
                <string>{118,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role11.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35f4ea83bf920cfb7f56a5a5f7667f1$</string>
            <key>textureFileName</key>
            <string>Role11.png</string>
        </dict>
    </dict>
</plist>
