<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>role4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>role4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>role4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,151},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>role4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>role4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,300},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20a195e0adff95588ce04df6b379b5a2$</string>
            <key>textureFileName</key>
            <string>Role4.png</string>
        </dict>
    </dict>
</plist>
