<?xml version="1.0" encoding="UTF-8"?>
<?plist version="1.0"?>
<dict>
    <key>animations</key>
    <dict>
        <key>RoleAni_11</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role11_1.png</string>
                <string>role11_2.png</string>
                <string>role11_3.png</string>
                <string>role11_4.png</string>
                <string>role11_5.png</string>
                <string>role11_6.png</string>
            </array>
        </dict>
        <key>RoleAni_12</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role12_1.png</string>
                <string>role12_2.png</string>
                <string>role12_3.png</string>
                <string>role12_4.png</string>
                <string>role12_5.png</string>
                <string>role12_6.png</string>
            </array>
        </dict>
        <key>RoleAni_13</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role13_1.png</string>
                <string>role13_2.png</string>
                <string>role13_3.png</string>
                <string>role13_4.png</string>
                <string>role13_5.png</string>
                <string>role13_6.png</string>
            </array>
        </dict>
    </dict>
</dict>
