<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>role12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>role12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>role12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,169},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>role12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>role12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,336},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32ecaeb9b843aef58f2eea618d7076d8$</string>
            <key>textureFileName</key>
            <string>Role12.png</string>
        </dict>
    </dict>
</plist>
