<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>role13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>role13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>role13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,169},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>role13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>role13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,336},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role13.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a84b4e5beac03571f5cdd0fd5c741f7$</string>
            <key>textureFileName</key>
            <string>Role13.png</string>
        </dict>
    </dict>
</plist>
