<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>role10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>role10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>role10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,148},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>role10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44b73d1ef1aa4e7e8d7d2e8bad7daf2b$</string>
            <key>textureFileName</key>
            <string>Role10.png</string>
        </dict>
    </dict>
</plist>
