<?xml version="1.0" encoding="UTF-8"?>
<?plist version="1.0"?>
<dict>
    <key>animations</key>
    <dict>
        <key>RoleAni_1</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role1_1.png</string>
                <string>role1_2.png</string>
                <string>role1_3.png</string>
                <string>role1_4.png</string>
                <string>role1_5.png</string>
                <string>role1_6.png</string>
            </array>
        </dict>
        <key>RoleAni_2</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role2_1.png</string>
                <string>role2_2.png</string>
                <string>role2_3.png</string>
                <string>role2_4.png</string>
                <string>role2_5.png</string>
                <string>role2_6.png</string>
            </array>
        </dict>
        <key>RoleAni_3</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role3_1.png</string>
                <string>role3_2.png</string>
                <string>role3_3.png</string>
                <string>role3_4.png</string>
                <string>role3_5.png</string>
                <string>role3_6.png</string>
            </array>
        </dict>
        <key>RoleAni_4</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role4_1.png</string>
                <string>role4_2.png</string>
                <string>role4_3.png</string>
                <string>role4_4.png</string>
                <string>role4_5.png</string>
                <string>role4_6.png</string>
            </array>
        </dict>
        <key>RoleAni_5</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role5_1.png</string>
                <string>role5_2.png</string>
                <string>role5_3.png</string>
                <string>role5_4.png</string>
                <string>role5_5.png</string>
                <string>role5_6.png</string>
            </array>
        </dict>
        <key>RoleAni_6</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role6_1.png</string>
                <string>role6_2.png</string>
                <string>role6_3.png</string>
                <string>role6_4.png</string>
                <string>role6_5.png</string>
                <string>role6_6.png</string>
            </array>
        </dict>
        <key>RoleAni_7</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role7_1.png</string>
                <string>role7_2.png</string>
                <string>role7_3.png</string>
                <string>role7_4.png</string>
                <string>role7_5.png</string>
                <string>role7_6.png</string>
            </array>
        </dict>
        <key>RoleAni_8</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role8_1.png</string>
                <string>role8_2.png</string>
                <string>role8_3.png</string>
                <string>role8_4.png</string>
                <string>role8_5.png</string>
                <string>role8_6.png</string>
            </array>
        </dict>
        <key>RoleAni_9</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role9_1.png</string>
                <string>role9_2.png</string>
                <string>role9_3.png</string>
                <string>role9_4.png</string>
                <string>role9_5.png</string>
                <string>role9_6.png</string>
            </array>
        </dict>
        <key>RoleAni_10</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role10_1.png</string>
                <string>role10_2.png</string>
                <string>role10_3.png</string>
                <string>role10_4.png</string>
                <string>role10_5.png</string>
            </array>
        </dict>
    </dict>
</dict>
